html, body{
	margin: 0;
	padding: 0; 
	height: 100%;
	min-width: 55%;
	max-width: 100%;
	overflow-x: hidden;
	font-family: "Georgia", Georgia, Serif;
	background-color: #efefef;
}

header{
	width: 100%;
	height: 0px;
}


/* ----------- Navigation Bar ----------- */
nav{
	background-color: transparent;
	overflow: hidden;
	width: 100%;
	z-index: 20000;
	padding-top: 1%;
}

.logo-section{
	float: left;
	width: 10%;
	padding: 6px 20px;
	font-family: "Georgia", Georgia, Serif;
}

.logo{
	float: left;
	padding-left: 2%;
	opacity: 0.7;
}

.hb-button{
	float: left;
	background: #efefef;
	color: #3a3a3a;
	border: none;
	font-size: 18px;
	padding: 5px 0px;
	border-radius: 3px;
	cursor: pointer;
	display: none;
}

nav  a{
	text-decoration: none;
	color: #282828;
	font-size: 18px;
	padding: 5px;
}

nav  ul{
	overflow: hidden;
	color: #ffffff;
	margin: 0;
	padding: 0;
	text-align: center;
	transition: max-height 0.5s;
	-webkit-transition: max-height 0.5s;
	-moz-transition: max-height 0.5s;
	-ms-transition: max-height 0.5s;
	-o-transition: max-height 0.5s;
}

nav  ul  li{
	float: right;
	display: block;
	padding: 10px 30px;
}

li > a{
	position: relative;
	color: #686868;
	text-decoration: none;
}

li > a:hover{
	color: #9ee5f7;
}

li > a:before{
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #9ee5f7;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

li > a:hover:before{
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

@media screen and (max-width: 900px){
	header{
		height: auto;
	}
	.logo-section{
		float: none;
	}
	.logo-section img{
		display: none;
	}
	nav  ul{
		background: #ffffff;
		max-height: 0;
		width: 100%;
	}
	nav ul.show{
		max-height: 20em;
	}
	nav ul li{
		box-sizing: border-box;
		width: 100%;
		padding: 15px;
	}
	.hb-button{
		float: left;
		display: block;
	}
}


/* ----------- Landing Page ----------- */

.intro {
	height: 100%;
	width: 100%;
	margin: auto;
	background: url("img/landpage.jpg") no-repeat 50% 50%;
	display: table;
	top: 0;
	background-size: cover;
	vertical-align: middle;
}

.intro > .inner {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	max-width: none;
}

.content{
	margin: auto;
	text-align: center;
}

.content h1{
	font-size: 5.5em;
	color: #eeeeee;
	
}

.content h2{
	margin-top: -5%;
	padding-bottom: 10%;
	text-align: center;
	font-size: 3.5em;
	color: #ffffff;
	font-weight: normal;
	
}

.content a{
	margin-top: 20px;
	font-size: 1em;
	text-decoration: none;
	color: #3d3d3d;
}

.content i{
	margin-top: 20px;	
	padding: 10px;
}

.content i:hover{
	color: #9ee5f7;
}

.typed-cursor{
	display: none;
}

.btn{
	background-color: #9ee5f7;
	color: #ffffff;
	border: 2px solid #bebdbd;
	padding: 10px 15px;
	text-decoration: none;
	border-radius: 20px;
	font-size: 20px;
	font-family: "Arial", Arial, Sans-serif;
	font-weight: bold;
	display: inline-block;
}

.btn:hover, .btn:active{
	background-color: #efefef;
	color: #9ee5f7;
	transition: background-color 0.3s ease-in, color 0.3s ease-in;
}

.arrow{
	position: relative;
	font-size:2em;
	transform: rotate(-90deg);	
	
}

.arrow:hover{
	animation: bouncearrow 1s infinite;
	color: #9ee5f7;
}

@keyframes bouncearrow{
	0%{top: 0px;}
	50%{top: 20px;}
	100%{top: 0px}
}

@media screen and (max-width: 768px){
	.content h1{
		font-size: 5em;
	}
	.content h2{
		font-size: 3em;
	}
}

@media screen and (max-width: 480px){
	.content h1{
		font-size: 3em;
		-webkit-text-stroke-width: 1px;
	}
	.content h2{
		font-size: 2em;
		-webkit-text-stroke-width: 1px;
	}
	.content a{
		padding: 5px 7.5px;
		font-size: 10px;
	}
}


/* ----------- About Section ----------- */
.about{
	width: 100%;
	text-align: left;
	display:inline-block;
	background-color: #ffffff;
	padding-top: 50px;
}

.about h1{
	font-size: 55px;
	text-align: center;
	color: #569b6a;
	/*
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: #3a3a3a;
	*/
}

.about .hire-me{
	background-color: #efefef;
	color: #569b6a;
	border: 2px solid #bebdbd;
	padding: 10px 15px;
	text-decoration: none;
	border-radius: 20px;
	font-size: 20px;
	font-weight: bold;
	display: inline-block;
}

.about .hire-me:hover, .about .hire-me:active{
	background-color: #468f5c;
	color: #ffffff;
	transition: background-color 0.3s ease-in, color 0.3s ease-in;
}

.about .col-left, .about .col-right{
	width: 50%;
	float: left;
	display: block;
	padding-top: 2%;
	padding-bottom: 10%;
}

.about .col-left img{
	max-width: 50%;
	padding-left: 20%;
	padding-right: 20%; 
}

.about .col-right i{
	margin-top: 20px;
	color: #569b6a;
	font-size: 50px;
}

.about .col-right h2{
	font-family: Arial, Helvetica, sans-serif;
	
}

.about .col-right p{
	max-width: 60%;
	font-size: 23px;
	text-align: left;
	color: #8a8a8a;
}

@media screen and (max-width: 768px){
	.about .col-right p{
		font-size: 20px;
	}
	.about a{
		font-size: 17px;
	}
}

@media screen and (max-width: 480px){
	.about .col-left, .about .col-right{
		width: 100%;
	}
	.about .col-left img{
		padding: 0% 25%;
	}
	.about .col-right{
		text-align: center;
	}
	.about .col-right p{
		max-width: 80%;
		margin-left: 10%;
		margin-right: 10%;
		text-align: center;
	}
}

/* ----------- Skills Section ----------- */
.skills-heading {
	padding: 50px 0px;
	text-align: center;
	background-color:  #efefef;
}

.skills-heading h1{
	font-size: 55px;
	color: #6eb884;
	/*
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: #3a3a3a;
	*/
}

.skills-heading  h2{
	font-size: 23px;
	text-align: center;
	color: #3a3a3a;
	font-weight: normal;
	padding-top: -10px;
	padding-bottom: 10px;
}

.skills-section{
	padding: 0px 25px;
	padding-bottom: 86px;
	width: 100%;
	margin: 0 auto;
	background-color: #efefef;
	text-align: center;
}

.skills-section:after{
	content: '';
	display:block;
	clear: both;
}

.skills-column{ 
	width: 31%;
	text-align: center;
	margin: 0px  5px;
	margin-bottom: 20px;
	padding: 0px 0px;
	display: block;
	float: left;
	border: 1px solid #d6d6d6;
	background-color:  #f5f5f5;
	border-radius: 10px;
	box-shadow: 0px 10px 6px -6px rgba(155, 155, 155, 0.3);
	transition: transform .15s;
}

.skills-column:hover {
	transform: scale(1.1); 
	background-color:  #fcfcfc;
}

.skills-column h1{
	font-size: 35px;
	font-weight: bold;
	color: #6eb884;
	/*
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: #3a3a3a;
	*/
	padding-top: 10px; 
	margin: -1px -6px;
}

.skills-column h2{
	font-size: 21px;
	font-weight: normal;
	text-align: center;
	color: #3a3a3a;
	padding: 5px 0px;
}

.skills-column i{
	font-size: 80px;
	color: #9c9c9c;
	/*
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: #3a3a3a;
	*/
}

@media screen and (max-width: 834px){
	.skills-section{
		padding: 0px 0px;
	}
	.skills-column h1{
		margin: 0px 0px;
	}
	.skills-column{
		/*float: left;*/
		width: 90%;
		margin-left: 5%;
	}
}


/* ----------- Projects Section ----------- */
.projects-section{
	width: 100%;
	margin: 0px auto;
	text-align: center;
	padding-top: 50px;
	display:inline-block;
	/*background: linear-gradient(180deg, #696969, #efefef);*/
	/*animation: BackgroundGradient 30s ease infinite;*/
	background-color: #696969;
}

/*@keyframes BackgroundGradient{
	0% {background-position: 0% 50%}
	50% {background-position: 100% 50%}
	100% {background-position: 0% 50%}
}*/

.projects-section h1{
	font-size: 55px;
	text-align: center;
	color: #cecece;
	/*
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #cecece;
	*/
}

.projects-section h2{
	font-size: 100%;
	color: #ffffff;
	padding-bottom: 10%;
	font-weight: normal;
}

.projects-section .col-left, .projects-section .col-right{
	width: 50%;
	float: left;
	display: block;
	padding-top: 2%;
	padding-bottom: 5%;
}

.projects-section .col-left a, .projects-section .col-right a{
	background: white;
	display: block;
	float: left;
	padding: 10px 10px 25px;
	margin-bottom: 10%;
	text-align: center;
	text-decoration: none;
	-webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
	box-shadow: 0 4px 6px rgba(0,0,0,.3);
	-webkit-transition: all .15s linear;
	-moz-transition: all .15s linear;
	transition: all .15s linear;
	z-index:0;
    position:relative
}

.projects-section .col-left a{
	float: right;
	margin-right: 16%;
}

.projects-section .col-right a{
	float: left;
	margin-left: 16%
}

.projects-section .col-left a:after, .projects-section .col-right a:after{
	color: #333;
	font-size: 25px;
	content: attr(title);
	position: relative;
	top:15px;
}

.projects-section .col-left img, .projects-section .col-right img{
	width: 100%;
	height: 300px;
	display: block; 
	width: inherit;
}

.text-over{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 10px 10px 53px 10px;
	/*color: #ff8346;*/
	background: rgba(0, 0, 0, 0.788);
	color: #ffffff;
	visibility: hidden;
	opacity: 0;
	transition: opacity .2s, visibility .2s;
}

.projects-section .col-left a:hover .text-over, .projects-section .col-right a:hover .text-over{
	visibility: visible;
	opacity: 1;
}

.projects-section .col-left h2, .projects-section .col-right h2{
	padding: 0% 10%;
	background-color: #ffffff;
}

@media screen and (max-width: 1164px){
	.projects-section .col-left a{
		margin-right: 2%;
	}
	.projects-section .col-right a{
		margin-left: 2%;
	}
	.projects-section .col-left img, .projects-section .col-right img{
		height: 200px;
	}

	.text-over{
		font-size: 14px;
	}
}

@media screen and (max-width: 680px){
	.projects-section .col-left{
		padding-bottom: 0%;
	}
	.projects-section .col-right{
		padding-top: 0%;
	}
	.projects-section .col-left, .projects-section .col-right{
		width: 100%;
	}
	.projects-section .col-left img, .projects-section .col-right img{
		width: 310px;
	}
	.projects-section .col-left a, .projects-section .col-right a{
		margin: 0% 25%;
		float: center;
		margin-bottom: 10%;
	} 
}

@media screen and (max-width: 480px){
	.projects-section h2{
		font-size: 70%;
	}
	.projects-section .col-left, .projects-section .col-right{
		width: 100%;
		padding-bottom: 0%;
	}
	.projects-section .col-left img, .projects-section .col-right img{
		width: 310px;
	}
	.projects-section .col-left a, .projects-section .col-right a{
		margin-left: 6%;
		margin-right: 0%;
		float: left;
	}
}


/* ----------- Contact Section ----------- */
.contact-section{
    background-color: #ececec;
	padding: 20px;
	text-align: left;
	padding-left: 15%;
	padding-right: 15%;
	padding-top: 50px;
	padding-bottom: 5%;
	font-family: "Arial", Arial, Sans-serif;	
}

.contact-section h1{
	font-size: 55px;
	font-family: "Arial", Arial, Sans-serif;
	color: #468f5c;
	text-align: center;
	padding: 0% 35%;
	/*
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: #3a3a3a;
	*/
}

form{
	border: 1px solid #d6d6d6;
	border-radius: 15px;
	box-shadow: 0px 10px 6px -6px rgba(155, 155, 155, 0.3);
	background-color:  #f7f7f7;
	padding: 5% 15%;
	transition: transform .15s;
}


form:hover {
	background-color:  #fafafa;
}

input[type=text], select, textarea {
	font-family: "Arial", Arial, Sans-serif;	
    width: 100%;
    padding: 12px;  
    border: 1px solid #ccc; 
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
	font-family: "Arial", Arial, Sans-serif;	
    background-color: #468f5c;
    color: white;
	padding: 12px 20px;
	margin-top: 2%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #6dc989;
}

@media screen and (max-width: 768px){
	.contact-section h1{
		padding-left: 25%;
	}
	.g-recaptcha iframe{
		width: 200px;
	}
}

@media screen and (max-width: 480px){
	.contact-section{
		padding-left: 5%;
		padding-right: 5%;
	}
	.contact-section h1{
		padding: 0% 0%;
	}
	input[type=text], select, textarea {
		width: 100%;
	}
	.g-recaptcha{
		width: 50%;
	}
}
/* ----------- Footer Section ----------- */
footer{
	background: linear-gradient(180deg, #efefef, #696969);
	width: 100%;
	display: inline-block;
}

html,footer .small{
	text-align: center;
	font-size: 20px;
	color: #3d3d3d;
}

.social a i{
	font-size: 35px;
	color: #3d3d3d;
	padding: 0px 3px;
}

.social a i:hover{
	color: #6dc989;
}

.social a:visited{
	color: #3d3d3d
}